{% extends 'base.html' %}

{% block content %}

<h1>All Tasks</h1>
<ul>
    {% for task in tasks %}
    <li>
        {{ task.id }}. <a href="{% url 'task_details' task.pk %}">{{ task.title }}</a> - {{ task.description }} - {{ task.completed }} - {{ task.user.username }}| <a href="{% url 'delete_task' task.id %}">Delete</a>

    </li>
    {% endfor %}
</ul>

<a href="/tasks/?completed=1">Completed Tasks</a>
<br>
<a href="/tasks/?completed=0">Pending Tasks</a>
<br>
<a href="/tasks/">All Tasks</a>
<br>
<a href="/tasks/form">Add Task</a>

{% endblock %}